<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>SentIT</title>
<link rel="shortcut icon" href="/dist/images/icons/icon.png" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/dist/css/main.css">
<script src="/dist/js/nav_control.js"></script>
</head>
<body>
   <div class="container">
      <div class="top-navigation">
         <div class="menu-icon cont">
           <img class="icon-menu" src="/dist/images/icons/icon_menu.png" onClick="openNav()"/>
         </div>
         <div class="logo-img cont">
           <img class="icon-logo" src="/dist/images/logo.png"/>
         </div>
         <div class="profile-nav">
             <div class="icon-notification-nav">
                <div class="icon-notification-icon-nav">
                    <img class="icon-notification" src="/dist/images/icons/icons8_Notification_50px.png" alt=""/>
                      <div class="notification-text-nav">
                          <span class="notification-text">3</span>
                       </div>
                </div>
             </div>

            <div class="icon-profile-nav">
             <img class="icon-profile" src="/dist/images/profile.png" alt=""/>
           </div>

         </div>
      </div>
      <div class="body-contant-navigation">
      <table  height="100%" border="0">
       <tr>
         <td>
          <div class="left-navigation">
           <section id="left-nav-container">
             <div class="left-navigation-drawer open active" id="left-nav-open">
                <div class="left-navigation-dawer-profile-section">
                  <div class="left-navigation-dawer-profile-section-profile-image-div">
                     <img class="left-navigation-dawer-profile-section-profile-image" src="/images/profile.png"/>
                  </div>
                  <div class="left-navigation-dawer-profile-section-profile-name-div">
                     <span class="left-navigation-dawer-profile-section-profile-name">Eric Prestein</span>
                  </div>
                  <div class="left-navigation-dawer-profile-section-profile-status-div">
                      <span class="left-navigation-dawer-profile-section-profile-status">Logged In</span>
                  </div>
                </div>
                <div class="left-navigation-dawer-opened-buttons icon-home-open-nav visible">
                  <div class="left-navigation-dawer-opened-buttons-icons-div">
                    <img class="left-navigation-dawer-opened-buttons-icons" src="/dist/images/icons/icon_home.png"></img>
                  </div>
                  <div class="left-navigation-dawer-opened-buttons-title-div">
                      <span class="left-navigation-dawer-opened-buttons-title"><a class="home-links home" href="home.html">Home</a></span>
                  </div>
                </div>
                <div class="left-navigation-dawer-opened-buttons icon-add-oder-open-nav">
                  <div class="left-navigation-dawer-opened-buttons-icons-div">
                    <img class="left-navigation-dawer-opened-buttons-icons" src="/dist/images/icons/icon_add_new.png"></img>
                  </div>
                  <div class="left-navigation-dawer-opened-buttons-title-div">
                      <span class="left-navigation-dawer-opened-buttons-title"><a class="home-links new-order" href="newoder.html">New order</a></span>
                  </div>
                </div>

                <div class="left-navigation-dawer-opened-buttons icon-view-transit-open-nav">
                  <div class="left-navigation-dawer-opened-buttons-icons-div">
                    <img class="left-navigation-dawer-opened-buttons-icons" src="/dist/images/icons/icon_in_transit.png"></img>
                  </div>
                  <div class="left-navigation-dawer-opened-buttons-title-div">
                      <span class="left-navigation-dawer-opened-buttons-title"><a class="home-links view-transit" href="transit.html">View Transit</a></span>
                  </div>
                </div>

                <div class="left-navigation-dawer-opened-buttons icon-open-map-open-nav">
                  <div class="left-navigation-dawer-opened-buttons-icons-div">
                    <img class="left-navigation-dawer-opened-buttons-icons" src="/dist/images/icons/icon_map.png"></img>
                  </div>
                  <div class="left-navigation-dawer-opened-buttons-title-div">
                      <span class="left-navigation-dawer-opened-buttons-title"><a class="home-links view-transit" href="map.html">Map</a></span>
                  </div>
                </div>

                <div class="left-navigation-dawer-opened-buttons icon-settings-open-nav">
                  <div class="left-navigation-dawer-opened-buttons-icons-div">
                    <img class="left-navigation-dawer-opened-buttons-icons" src="/images/icons/icon1.svg"></img>
                  </div>
                  <div class="left-navigation-dawer-opened-buttons-title-div">
                      <span class="left-navigation-dawer-opened-buttons-title"><a class="home-links view-transit" href="map.html">Map</a></span>
                  </div>
                </div>

             </div>
             <div class="left-navigation-drawer close " id="left-nav-close">
               <div class="left-navigation-drawer-buttons-nav icon-profile-p-nav">
                     <img class="left-navigation-drawer-buttons icon-profile-p" src="/dist/images/profile.png"></img>
               </div>
               <div class="left-navigation-drawer-buttons-nav icon-home-nav">
                    <img class="left-navigation-drawer-buttons icon-home" src="/dist/images/icons/icon_home.png"></img>
               </div>
               <div class="left-navigation-drawer-buttons-nav icon-add-oder-nav">
                   <img class="left-navigation-drawer-buttons icon-add-oder" src="/dist/images/icons/icon_add_new.png"></img>
               </div>
               <div class="left-navigation-drawer-buttons-nav icon-view-transit-nav">
                   <img class="left-navigation-drawer-buttons icon-view-transit" src="/dist/images/icons/icon_in_transit.png"></img>
               </div>
               <div class="left-navigation-drawer-buttons-nav icon-open-map-nav">
                 <img class="left-navigation-drawer-buttons icon-open-map" src="/dist/images/icons/icon_map.png"></img>
               </div>
             </div>
            </section>
           </div>
         </td>
         <td>

         <!--Here contant -->

         </td>
       </tr>
      </table>
      </div>
   </div>
</body>
</html>
