<html>
<head>
  <title>Login</title>
  <link rel="shortcut icon" href="../dist/images/icons/icon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="../dist/css/login.css">
</head>
<body>
  <div class="container-login">
    <div class="logo-contant">
      <img class="img-logo" src="../dist/images/logo.png">
    </div>
    <div class="login-contant">
      <table border="0">
       <tr>
         <td colspan="2">
           <span>Username</span><br>
          <input type="text"/>
         </td>
       </tr>
       <tr>
         <td colspan="2">
           <span>password</span><br>
          <input type="password"/>
         </td>
       </tr>
       <tr>
         <th><button type="button" name="button" class="sinup-button">Sinup</button></th>
         <th><button type="button" name="button" class="login-button">Login</button></th>
       </tr>
      </table>
    </div>
  </div>
    <script src="js/script.js"></script>
    <script src="js/history.js"></script>
</body>
</html>
